body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #404089; /* Cambia el color de fondo a azul oscuro */
    color: #000; /* Cambia el color del texto a negro */
}

header, footer {
    background-color: #fff; /* Cambia el color de fondo del header y el footer a blanco */
    color: #000; /* Cambia el color del texto a negro */
}

nav {
    background-color: #ffffff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

section {
    padding: 2em;
}

.autos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.auto-card {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}

.marca-title {
    grid-column: span 4;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 1em;
    /* Cambia la posición de fixed a relative */
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-footer {
    display: flex;
    margin-bottom: 10px;
}

.logos-footer img {
    max-height: 30px;
    margin-right: 10px;
}

.botones-footer button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 20px;

}

.opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5%; /* Asegura que el contenedor de opinión ocupe toda la altura */
}

.botoon {
    margin-top: auto;
    border-radius: 20px; /* Mueve el botón hacia la parte inferior */
    
}

h2 {
    text-align: center;
}
.auto-card img {
    max-width: 100%; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    max-height: 150px; /* Ajusta la altura máxima según tus preferencias */
}
.logo {
    max-width: 10%; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    max-height: 100px; /* Ajusta la altura máxima según tus preferencias */
}
.logo {
    max-width: 10%; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    max-height: 100px; /* Ajusta la altura máxima según tus preferencias */
}

