body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 1em;
    margin-right: 90px; /* Ajusta el margen derecho para aumentar el espacio entre las opciones */
}

nav img {
    max-height: 20px;
    margin-right: 10px;
}

.content-container {
    background-color: #cfe1f2;
    padding: 20px;
    border-radius: 10px;
}

.section-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-footer {
    display: flex;
    margin-bottom: 10px;
}

.logos-footer img {
    max-height: 30px;
    margin-right: 10px;
}

.botones-footer button {
    margin: 0 10px;
    padding: 10px;
}

h2 {
    text-align: center;
}

.botoon {
    margin-top: auto;
    border-radius: 20px;
}
.logo {
    max-width: 50%; /* La imagen ocupará como máximo el 100% del ancho del contenedor */
    max-height: 100px; /* Ajusta la altura máxima según tus preferencias */
}
